html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#textcontainer {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

#text {
  border: lightslategray 5px solid;

  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;

  border-radius: 10px;
  background-color: lightpink;
  color: lightcoral;

  text-align: center;

  font-size: 3em;

  font-family: cursive;
  font-weight: bold;

  width: max-content;

  box-shadow: 5px 10px 10px lightslategray;

  text-shadow: 1px 1px 0 lightslategray;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
